<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row" style="margin-top: 100px;">
      <div class="col-md-7 offset-md-3">
        <mat-card>
          <mat-card-content>
            <p style="font-family: consolas;
                      font-size: 16px;
                      font-weight: bold;
                      letter-spacing: 1px;
                      margin-bottom: 20px;">Welcome Admin. This is your dashboard</p>
                      <div class="container">
<p>Here you can add categories, quizzes, questions, etc</p>
            <p style="margin-bottom: 10px;">You can also update and delete them</p>
            <p style="text-align:center;border: 2px solid green;background:greeen;padding: 5px;font-weight: bold;">Wish you seamless experience.</p>
                      </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
