<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-10" style="margin-top: 10px;">
      <strong>{{title}}</strong>

      <mat-list  style="margin-top: 20px;">
        <mat-card *ngFor="let q of questions; let i = index" style="margin-top: 20px;">
        <mat-card-content>
          <p>
            <b>{{i+1}}</b>.
            {{q.content}}
          </p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p><b>1. </b>{{q.option1}}</p>
              </div>
              <div class="col-md-6">
                <p><b>2. </b>{{q.option2}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><b>3. </b>{{q.option3}}</p>
              </div>
              <div class="col-md-6">
                <p><b>4. </b>{{q.option4}}</p>
              </div>
            </div>
            <p style="color: green;font-size:12px;font-weight: bold;">Correct Answer: {{q.answer}}</p>
          </div>
          <div class="container">
            <button class="update" [routerLink]="'/admin/question/' + q.id"><mat-icon>edit_note</mat-icon></button>
            <button class="delete" (click)="deleteQuestion(q.id)"><mat-icon>remove_circle_outline</mat-icon></button>
          </div>
        </mat-card-content>
      </mat-card>
      </mat-list>
      <div class="container" style="text-align: center;margin-top:20px;margin-bottom:20px;">
        <button [routerLink]="'/admin/add-question/'+id + '/' +title" mat-raised-button color="primary">Add Question</button>
      </div>
    </div>
  </div>
</div>
