<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center" style="margin-top: 180px;">
        <h1 style="font-family:'Times New Roman', Times, serif;letter-spacing: 2px;"> Welcome To Examsathi</h1>
        <div class="container-fluid">
          <p class="content">For navigating to this page just click on the laptop icon, whereever you are, you will be returned to this page</p>
          <p class="content">If you are new on this platform, kindly tap on the icon next to the login icon</p>
          <p class="content">If you are already a user, please click on the login button to continue</p>
          <p class="Thanks">Thanks!</p>
        </div>
       
      </div>
    </div>
  </div>
</div>
