<mat-card>
  <mat-action-list>
    <div mat-subheader style="font-family:'Courier New', Courier, monospace;font-weight: bold; ">Menu</div>
    <button mat-list-item routerLink="/admin" style="font-family:consolas;font-weight: bold;letter-spacing: 1px;"><mat-icon mat-list-icon>home</mat-icon>HOME</button>
    <button mat-list-item routerLink="/admin/profile"
    style="font-family:consolas;font-weight: bold;letter-spacing: 1px;"><mat-icon mat-list-icon>account_circle</mat-icon>PROFILE</button>
    <button mat-list-item routerLink="/admin/categories"
    style="font-family:consolas;font-weight: bold;letter-spacing: 1px;"><mat-icon mat-list-icon>hive</mat-icon>CATEGORY</button>
    <button mat-list-item routerLink="/admin/add-category"
    style="font-family:consolas;font-weight: bold;letter-spacing: 1px;"><mat-icon mat-list-icon>add_card</mat-icon>ADD CATEGORY</button>
    <button mat-list-item routerLink="/admin/view-quizzes"
    style="font-family:consolas;font-weight: bold;letter-spacing: 1px;"><mat-icon mat-list-icon>quiz</mat-icon>QUIZZES</button>
    <button mat-list-item routerLink="/admin/add-quiz"
    style="font-family:consolas;font-weight: bold;letter-spacing: 1px;"><mat-icon mat-list-icon>add</mat-icon>ADD QUIZ</button>
    <button mat-list-item routerLink="/admin/profile"
    style="font-family:consolas;font-weight: bold;letter-spacing: 1px;"><mat-icon mat-list-icon>logout</mat-icon>LOG OUT</button>
  </mat-action-list>
</mat-card>
